<nav class="navbar navbar-expand-lg bg-dark p-3">
    <div class="container-fluid">
        <a class="navbar-brand text-white fs-4" href="/">Blogify</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex align-items-center gap-3 ">
                <li class="nav-item">
                    <a class="nav-link active  text-white fs-4" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-white fs-4" href="/blog/addBlog">Add New Blog</a>
                </li>

        <% if (locals.user) { %>
  <li class="nav-item dropdown">
   <li class="nav-item dropdown"> 
    <a class="nav-link dropdown-toggle text-white " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
        <img src="<%=locals.user.image%>" class="userProfileImg" /> 
    </a> 
    <ul class="dropdown-menu"> 
        <li><a class="dropdown-item fs-5" href="/logout">Logout</a></li>
  </li>
<% } else { %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white fs-4" href="#" data-bs-toggle="dropdown">
      Create Account
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item fs-5" href="/signup">Signup</a></li>
      <li><a class="dropdown-item fs-5" href="/signin">Login</a></li>
    </ul>
  </li>
<% } %>
                
            </ul>
        </div>
    </div>
</nav>